:root {
  --white: white;
  --red: #fa4539;
  --deep-red: #de2727;
  --off-white: #fffaf1;
  --black: black;
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 12px;
  height: 12px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

body {
  color: #333;
  background-color: #fffaf1;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.styledimage.small {
  width: 100px;
}

.styledimage.thankyou {
  max-width: 200px;
}

.contentdiv {
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  max-width: 650px;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
}

.contentdiv.footer {
  margin-bottom: 30px;
}

.contentdiv.faq {
  justify-content: center;
  align-items: flex-start;
}

.contentdiv.lessmargin {
  margin-top: 0;
  margin-bottom: 0;
}

.contentdiv.signup {
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}

.contentdiv.cover {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-top: 70px;
}

.contentdiv.thankyou {
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  margin-top: 170px;
}

.styledheading {
  text-align: center;
  font-family: Crimson Pro, sans-serif;
  font-size: 50px;
  font-weight: 600;
  line-height: 120%;
}

.styledheading.small {
  font-size: 45px;
}

.styledp {
  text-align: justify;
  font-family: Crimson Text, sans-serif;
  font-size: 30px;
  line-height: 130%;
}

.styledp.centered {
  text-align: center;
}

.styledp.leftaligned {
  align-self: flex-start;
}

.styledp.spacer {
  color: var(--white);
}

.styledsection {
  justify-content: center;
  align-items: center;
  display: flex;
}

.styledlink {
  color: #333334;
  text-align: center;
  font-family: Crimson Pro, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.styledlink:hover, .styledlink.w--current {
  text-decoration: underline;
}

.styledlink.inline {
  font-family: Crimson Text, sans-serif;
}

.styledlink.inline.red {
  color: var(--red);
}

.linksdiv {
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.styledform {
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-family: Inconsolata, monospace;
  display: flex;
}

.styledform.vertical {
  flex-flow: column;
}

.styledtextfield {
  color: #343334;
  border: 2px solid #34333480;
  border-radius: 6px;
  margin-bottom: 0;
  padding: 20px;
  font-size: 20px;
}

.styledbutton {
  border: 2px solid var(--deep-red);
  color: var(--deep-red);
  background-color: #3898ec00;
  border-radius: 20px;
  padding: 10px 25px;
  font-family: Inconsolata, monospace;
  font-size: 20px;
}

.styledbutton:hover {
  background-color: var(--deep-red);
  color: #fff;
}

.styledbutton:active {
  color: #fff;
  background-color: #fa4539;
  border-color: #fa453900;
}

.styledbutton.topmargin {
  margin-top: 40px;
}

.styledbutton.hidden-desktop {
  display: none;
}

.styledtext {
  color: #333334;
  text-align: center;
  font-family: Crimson Pro, sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 120%;
  text-decoration: none;
}

.styledtext.inline {
  display: inline;
}

.styledtext.leftaligned {
  text-align: left;
  font-family: Crimson Text, sans-serif;
  font-weight: 400;
  line-height: 140%;
}

.contentsdiv {
  flex-flow: wrap;
  display: block;
}

.form-block {
  margin-top: 25px;
}

.bookimage {
  max-height: 80vh;
}

.navbar {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  background-color: var(--off-white);
  border-bottom: 2px #000;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  min-height: 50px;
  padding: 15px 40px;
  display: flex;
  position: fixed;
  box-shadow: 0 2px 5px #0003;
}

.titletext {
  color: var(--black);
  font-family: Young Serif, sans-serif;
  font-size: 20px;
  text-decoration: none;
}

.navlink {
  color: var(--black);
  font-family: Crimson Pro, sans-serif;
  font-size: 20px;
  text-decoration: none;
}

.navitemsdiv {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  flex-flow: wrap;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.titletextdiv {
  padding-top: 5px;
}

.styledlabel {
  font-size: 20px;
}

.quick-stack {
  grid-column-gap: 40px;
  padding: 0;
}

.cell {
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.cell-2, .cell-3 {
  justify-content: flex-start;
  align-items: center;
}

.listdiv {
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  flex-flow: column;
  justify-content: center;
  align-self: center;
  align-items: flex-start;
  display: flex;
}

.listdiv.hidden {
  display: none;
}

.styledbutton-2 {
  color: #de2727;
  background-color: #3898ec00;
  border: 2px solid #de2727;
  border-radius: 20px;
  padding: 10px 25px;
  font-family: Inconsolata, monospace;
  font-size: 20px;
}

.styledbutton-2:hover {
  color: #fff;
  background-color: #de2727;
}

.styledbutton-2:active {
  color: #fff;
  background-color: #fa4539;
  border-color: #fa453900;
}

.substack-code-embed {
  max-width: 100%;
}

.list-item-div {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  display: flex;
}

.hide-embed {
  display: none;
}

@media screen and (max-width: 991px) {
  .styledimage {
    max-width: 80%;
  }

  .navitemsdiv {
    flex-flow: wrap;
  }
}

@media screen and (max-width: 767px) {
  .styledimage.small {
    width: 90px;
  }

  .contentdiv {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    margin-top: 80px;
    margin-bottom: 80px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .styledheading, .styledheading.small {
    font-size: 40px;
  }

  .styledp, .styledlink {
    font-size: 25px;
  }

  .styledbutton.hidden-desktop {
    display: block;
  }

  .styledtext {
    font-size: 25px;
  }

  .navitemsdiv {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }

  .navitemsdiv.footer {
    justify-content: center;
    align-items: center;
  }

  .quick-stack {
    grid-row-gap: 40px;
  }

  .hidden-mobile {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .styledimage.small {
    width: 80px;
  }

  .contentdiv {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin-top: 60px;
    margin-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .contentdiv.cover {
    margin-top: 100px;
  }

  .styledheading, .styledheading.small {
    font-size: 30px;
  }

  .styledp, .styledlink {
    font-size: 20px;
  }

  .styledform {
    flex-flow: column;
  }

  .styledtextfield, .styledbutton {
    font-size: 18px;
  }

  .styledtext {
    font-size: 20px;
  }

  .navbar {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    flex-flow: column;
    padding-left: 20px;
    padding-right: 20px;
  }

  .navitemsdiv {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .styledbutton-2 {
    font-size: 18px;
  }

  .substack-code-embed {
    max-width: 100vw;
    overflow: hidden;
  }
}


